<form name="myForm" class="form-horizontal" role="form">
	<fieldset>
		<div class="form-group text-left">
			<label for="title" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-left"
				>Book title</label
			>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 text-left">
				<input
					type="text"
					ng-model="title"
					class="form-control"
					id="title"
					name="title"
					value=""
					placeholder="Book title"
					required
				/>
				<i ng-show="myForm.title.$error.required">*required</i>
			</div>
		</div>

		<div class="form-group text-left">
			<label for="author" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-left"
				>Author</label
			>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 text-left">
				<input
					type="text"
					ng-model="author"
					class="form-control"
					id="author"
					name="author"
					value=""
					placeholder="Author"
					required
				/>
				<i ng-show="myForm.author.$error.required">*required</i>
			</div>
		</div>

		<div class="form-group text-left">
			<label for="isbn" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-left"
				>ISBN</label
			>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 text-left">
				<input
					type="text"
					ng-model="isbn"
					class="form-control"
					id="isbn"
					name="isbn"
					value=""
					placeholder="ISBN"
					required
				/>
				<i ng-show="myForm.isbn.$error.required">*required</i>
			</div>
		</div>

		<div class="form-group text-left">
			<label
				for="publisher"
				class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-left"
				>Publisher</label
			>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 text-left">
				<input
					type="text"
					ng-model="publisher"
					class="form-control"
					id="publisher"
					name="publisher"
					value=""
					placeholder="Publisher"
					required
				/>
				<i ng-show="myForm.publisher.$error.required">*required</i>
			</div>
		</div>

		<div class="form-group text-left">
			<label for="date" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-left"
				>Data published</label
			>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 text-left">
				<input
					type="date"
					ng-model="date"
					class="form-control"
					id="date"
					name="date"
					value=""
					placeholder="DD/MM/YYYY"
					required
				/>
				<i ng-show="myForm.date.$error.required">*required</i>
			</div>
		</div>

		<div class="form-group text-left">
			<label for="pages" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-left"
				>Number of pages</label
			>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 text-left">
				<input
					type="number"
					ng-model="pages"
					class="form-control"
					id="pages"
					name="pages"
					value=""
					placeholder="Number of pages"
					required
				/>
				<i ng-show="myForm.pages.$error.required">*required</i>
			</div>
		</div>

		<div class="form-group text-left">
			<label for="format" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-left"
				>Format</label
			>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 text-left">
				<input
					type="text"
					ng-model="format"
					class="form-control"
					id="format"
					name="format"
					value=""
					placeholder="Format"
					required
				/>
				<i ng-show="myForm.format.$error.required">*required</i>
			</div>
		</div>

		<div class="form-group text-left">
			<label
				for="edition"
				class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-left"
				>Edition</label
			>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 text-left">
				<input
					type="text"
					ng-model="edition"
					class="form-control"
					id="edition"
					name="edition"
					value=""
					placeholder="Edition"
					required
				/>
				<i ng-show="myForm.edition.$error.required">*required</i>
			</div>
		</div>

		<div class="form-group text-left">
			<label
				for="language"
				class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-left"
				>Edition language</label
			>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 text-left">
				<input
					type="text"
					ng-model="language"
					class="form-control"
					id="language"
					name="language"
					value=""
					placeholder="Edition language"
					required
				/>
				<i ng-show="myForm.language.$error.required">*required</i>
			</div>
		</div>

		<div class="form-group text-left">
			<label
				for="description"
				class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-left"
				>Description</label
			>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 text-left">
				<textarea
					ng-model="description"
					id="description"
					name="description"
					class="form-control"
					required
					placeholder="Type the description"
					pattern="[A-Za-z '-]{3,200}"
					title="From 3 to 200 characters"
					maxlength="200"
				></textarea>
				<i ng-show="myForm.description.$error.required">*required</i>
			</div>
		</div>

		<div class="button-row">
			<button class="btn btn-sm btn-default" ng-click="moveBack()">
				<&nbsp;Back
			</button>

			<button
				class="btn btn-sm btn-primary"
				ng-disabled="!myForm.$valid"
				ng-click="sendVal();"
			>
				Add
			</button>
		</div>
	</fieldset>
	{{ myForm.$valid | json }}
</form>
