<div class="list-group">
	<button
		type="button"
		class="list-group-item itemInList"
		ng-repeat="book in booksList"
		ng-click="chooseGenre(book.id)"
		ng-class="{'choosed': choosedId==book.id}"
	>
		{{ genre.name }}
	</button>

	<button
		type="button"
		class="list-group-item itemInList"
		ng-click="chooseBook(-2)"
		ng-class="{'choosed': choosedId==-2}"
	>
		Add new
	</button>
</div>
<div class="button-row">
	<button class="btn btn-sm btn-default" ng-click="moveBack()">
		<&nbsp;Back
	</button>

	<button class="btn btn-sm btn-primary" ng-click="sendVal();">Add</button>

	<button
		class="btn btn-sm btn-primary"
		ng-click="moveFroward()"
		ng-class="{'disabled': choosedId==-1}"
	>
		Next&nbsp;>
	</button>
</div>
