<div class="container-fluid">
	<div class="row">
		<div
			class="col-md-10 col-md-offset-1 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 text-left"
		>
			<h1 class="main-title">Add book - New book</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center block-step">
			<div class="line" ng-class="{'step-display': step==5}"></div>
			<div class="step" ng-class="{'step-display': step==5}">
				<div class="step-number" ng-class="{'step-choosed': step==1}">1</div>
				Genre
			</div>
			<div class="step" ng-class="{'step-display': step==5}">
				<div class="step-number" ng-class="{'step-choosed': step==2}">2</div>
				Subgenre
			</div>

			<div class="step" ng-class="{'step-display': step==6}">
				<div class="step-number" ng-class="{'step-choosed': step==6}">6</div>
				Book List
			</div>

			<div
				class="step"
				ng-class="{'step-display': step==5 || step==3 || step==4}"
			>
				<div class="step-number">...</div>
			</div>

			<div
				class="step"
				ng-class="{'step-display': step==5 || step==1 || step==2}"
			>
				<div class="step-number" ng-class="{'step-choosed': step==3}">3</div>
				Add new subgenre
			</div>

			<div
				class="step"
				ng-class="{'step-display': step==5 || step==1 || step==2}"
			>
				<div class="step-number" ng-class="{'step-choosed': step==4}">4</div>
				Information
			</div>
		</div>

		<div class="col-md-10 col-md-offset-1 text-center">
			<div ng-view></div>
		</div>
	</div>
</div>
