<form name="myForm" class="form-horizontal" role="form">
	<fieldset>
		<div class="form-group">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 text-left">
				<input
					type="text"
					ng-model="name"
					class="form-control"
					id="name"
					name="name"
					value=""
					placeholder="Subgenre name"
					required
					pattern="[A-Za-z 0-9'-]{3,20}"
					maxlength="20"
					title="From 3 to 20 characters"
				/>
				<i ng-show="myForm.name.$error.required">*required</i>
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 text-left">
				<label class="check text-left">
					<input
						type="checkbox"
						ng-model="isDescriptionRequired"
						class="form-control"
						id="isDescriptionRequired"
						name="isDescriptionRequired"
						value=""
					/>&nbsp;
					<span>Description is required for this subgenre</span>
				</label>
			</div>
		</div>

		<div class="button-row">
			<button class="btn btn-sm btn-default" ng-click="moveBack()">
				<&nbsp;Back
			</button>

			<button
				class="btn btn-sm btn-primary"
				ng-disabled="!myForm.$valid"
				ng-click="saveVal();"
			>
				Submit Add
			</button>
		</div>
	</fieldset>
</form>
