.list-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.itemInList {
}
button.list-group-item {
  background-color: aqua;
  display: inline-block;
  box-sizing: border-box;
  width: 150px;
}
